@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,latin-ext);
/* Font size */

header .fb-logout{
	font-size: 13px;
}

body{
	font-size: 16px;
}

header h1, .welcome-message p, .welcome-checkbox label.radio{
	font-size: 26px;
}

/* Font color */

body, header h1, .welcome-message p, .welcome-checkbox label{
	color: #fff;
}

header .fb-logout{
	color: #ccc;
}

/* +++++++++++++++++++++++ */

body{
    position: absolute;
    min-height: 100%;
    width: 100%;
    min-width: 320px;
    min-width: 660px;
    /* background-color: beige; */
	background-image: url(../images/bg.png);
}

body, input, textarea, a{
    font-family: 'PT Sans', sans-serif;
}

a, a:hover{
    color: inherit;
    text-decoration: none;
}

header{
	background-color: rgba(0,0,0, 0.4);
	height: 250px;
	box-shadow: 0 0 30px 0 #ccc;
	overflow: hidden;
}

header .wrapper, .main .wrapper{
	max-width: 900px;
	margin: 0 auto;
}

.logo{
	display: block;
	background-size: contain;
	width: 447px;
	height: 177px;
	background-repeat: no-repeat;
	background-image: url(../images/movieSense.png);
	margin: 30px auto 0 auto;
}

header h1{
	text-align: center;
}

header .fb-logout{
	right: 0;
	top: 0;
	position: absolute;
	padding: 10px;
	text-align: right;
	text-transform: uppercase;
	border-style:dotted;
	border-color: #ccc;
	border-width: 0 0 2px 2px;
}

.fb-login{
	margin: 0 auto;
	background-image: url(../images/fb-login.png);
	background-repeat: no-repeat;
	display: block;
	width: 400px;
	height: 162px;
	margin-top:60px;
	box-shadow: 0 0px 5px 0px #aaa;
}

.fb-login:hover{
	opacity: 0.8;
}

.welcome-message p{
	text-align: center;
	margin-top: 60px;
}

.welcome-checkbox{
	margin: 60px 0 0 30px;
	max-width: 900px;
}

.welcome-checkbox label.radio{
	float: left;
	clear: left;
	padding-top: 7px;
}

.welcome-checkbox input[type="radio"]{
	display: none;
}

.welcome-checkbox input[type="radio"] + label.radio{
    display:inline-block;
    height:50px;
    vertical-align:middle;
	padding-left: 60px;
    background:url(../images/chk.png) left top no-repeat;
    cursor:pointer;
	margin-top: 20px;
}

.welcome-checkbox input[type="radio"]:checked + label.radio{
    background:url(../images/chk-2.png) 0px top no-repeat;
}

